body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 3em;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

#index {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #d33682;
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Code should be aligned left, unlike the rest of the content. */
pre {
    text-align: left;
}

/* This is to remove the margin added by the user-agent style */
pre, p {
    margin: 1.5em 0 0 0;
}

/* These two rules are for selecting the first p or pre per slide
   and removing the margin we added before, as well as the
   user-agent margin. Not a huge fan of it as it's very tied to
   the output of the markdown and slide component. */
.slide-container > div:first-child p:first-child {
    margin: 0;
}

.slide-container > div:first-child pre:first-child {
    margin: 0;
}

/* Remove the padding added by highlightjs, as it messes with the
   slide transitions. */
pre code.hljs {
    padding: 0;
}

/* Remove margins on these headings to assist with multi-slide
   transitions. */
h3, h4 {
    margin-block-start: auto;
    margin-block-end: auto;
}