body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 3em;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

#index1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #d33682;
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

pre {
    text-align: left;
}

pre, p {
    margin: 1.5em 0 0 0;
}

h3, h4 {
    margin-block-start: auto;
    margin-block-end: auto;
}